.product {
  width: 30%;

  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px auto;

  & img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
  }

  &__info {
    h3 {
      text-align: center;
      width: 90%;
      font-size: 20px;
      font-weight: bold;
      margin: 1rem auto;
      white-space: normal;
      text-overflow: ellipsis;
    }
  }
  &__text {
    height: 78%;
    width: 100%;
    white-space: normal;

    h4 {
      text-align: center;
      margin: 1rem auto;
      font-size: 1.2rem;
    }

    > div {
      margin: 1rem auto;
    }
  }

  a {
    text-decoration: none;

    .btn {
      width: 100%;
      font-size: 1.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem auto 1rem;
    }
  }
}

@media only screen and (min-width: 768px) and(max-width: 1200px) {
  .product {
    width: 45%;
    //display: block;
    min-height: 600px;

    img {
      width: 100%;
      height: 55%;
    }

    &__text {
      height: 64%;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .product {
    width: 96%;
    margin: 10px auto;

    &__info {
      img {
        height: 40vh;
      }
    }

    &__text {
      text-align: justify;
      text-justify: inter-word;
      white-space: normal;

      &-desc {
        font-size: 1.1rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }
}
