.modal {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  cursor: pointer;

  &__btn {
    position: absolute;
    top: -4rem;
    right: 2rem;
    //top: -5rem;
    //right: -2rem;
    font-size: 3rem !important;
    color: #fff;
    cursor: pointer;
    z-index: 100;
  }

  &__container {
    max-width: 60rem;
    position: relative;
    display: flex;
    justify-content: center;

    & img {
      width: 96%;
      height: 90%;
      border-radius: 4px;
      object-fit: contain;
      z-index: 90;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .modal {
    max-width: 80rem;

    padding: 0;

    &__btn {
      //top: -4rem;
      //right: 2rem;
      top: -5rem;
      right: 1rem;
    }
  }
}

// 360-462  top12
