.btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0 4rem;
  flex-wrap: wrap;
}

.products {
  width: 100%;
  //display: grid;
  //grid-template-columns: repeat(3, 1fr);
  //gap: 4rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
