@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  font-family: "Lato", sans-serif;
  width: 100%;
}

.container {
  //max-width: 100%;
  background-color: var(--bcg-color-navbar);
}

.light-mode {
  --bcg-color-navbar: #679be3;
  --primary-color-link: #000;
}
