.map {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 5rem auto;
  }
}

.info {
  font-family: inherit;
  width: 500px;
  strong {
    font-weight: 600;
    margin-bottom: 0.9375rem;
  }
}
